<h2>Sing in to your account</h2>
<%= form_for @user, url: login_path, method: :post do |f| %>
  <%=f.label :email%>
  <%=f.email_field :email%><br>
  <%=f.label :password%>
  <%= f.password_field :password %><br>
  <%=f.submit "Sign In"%>
<%end%>
<br>
<h3><%=link_to "Or create a new account", signup_path%></h3>