<h2>Booking for <%=link_to @booking.cruise.name, cruise_path(@booking.cruise) %></h2>
<p>Adults: <%=@booking.num_adults %> </p>
<p>Children: <%=@booking.num_children %></p>
<p>Total cost: $<%=@booking.cost%></p>
<%= link_to "Edit Booking", edit_booking_path(@booking)%><br>
<%= link_to "Cancel Booking", @booking, method: :delete, data: { confirm: "Do you really want to cancel?" } %>