<%= form_for(@cruise) do |f|%>
    <%=f.label :name%>
    <%=f.text_field :name%>
    <br>
    <%=f.label :seats_total%>
    <%=f.number_field :seats_left, min:0 %>
    <br>
    <%= f.label :price_child%>
    $<%=f.number_field :price_child, min:0 %>
    <br>
    <%= f.label :price_adult%>
    $<%=f.number_field :price_adult, min:0 %>
    <br>
    <%= f.label :min_age%>
    <%=f.number_field :min_age, min:0 %>
    <%=f.label :category_id, "Category"%>
    <%=f.collection_select :category_id, Category.all, :id, :name%>
    <br>
    <p>New Category:</p>
    <%=f.submit "Submit", class: "btn btn-primary"%>
<%end%>