<h1>Select an Adventure Cruise or Filter by Category</h1>

<%= form_tag cruises_path, :method => 'get' do %>
    <% Category.all.each do |category| %>
      <%= check_box_tag("categories[]", category.id) %>
      <%= h category.name %>
    <% end %>
    <%= submit_tag "Filter"%>
<% end %>

<div>
    <%@cruises.each do |cruise|%>
        <p><%=cruise.name%> <%=link_to "View details", cruise_path(cruise)%></p>
    <%end%>
</div>